@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text: #f5f5ff;
  --background: #121118;
  --primary: #6356c8;
  --secondary: #7b71cc;
  --secondary2: #161521;
  --secondary3: #201e31;
  --secondary4: #322e4f; /*bouton2 */
  --accent: #513ac5;
  --clear: #b6a8ff;
  --idkgraph: #312f42;
  --clear-red: #b9445c;
  --red: #88283c;
  --orange: #9b5236;
  --green: #318d57;
  --clear-blue: #3d72c2;
  --blue: #3565ad;
  --brown: #2c1c22;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
  margin-left: 10%;
  margin-right: 10%;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.presentation {
  padding-top: 25%;
}

.effet {
  background: linear-gradient(to right, #6356c8, #434bea);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 6rem;
}

.alt {
  justify-content: space-around;
  margin: 0;
}

#pageform {
  padding-top: 0 !important;
}

.texte {
  gap: 3em;
  width: 600px;
}

.image {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.anim {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

svg {
  max-width: 80%;
}

.separateur {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: auto;
}

.goback {
  height: 35px;
  width: 35px;
  transition-duration: 0.2s;
  transition-property: margin-left;
  margin-left: 20px;
  cursor: pointer;
}

.goback:hover {
  margin-left: 10px;
  padding-right: 10px;
}

.bouton {
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
  font-size: 17px;
  padding: 15px;
  text-align: center;
  transition-duration: 0.2s;
  margin: 0;
  display: inline-block;
  user-select: none;
  text-decoration: none;
}

.bouton1 {
  color: var(--text);
  background-color: var(--primary);
}

.bouton2 {
  color: var(--text);
  background-color: var(--secondary4);
}

.boutonRouge {
  color: var(--text);
  background-color: var(--red);
}

.boutonHard {
  color: var(--text);
  background-color: var(--orange);
}

.boutonGood {
  color: var(--text);
  background-color: var(--green);
}

.boutonEasy {
  color: var(--text);
  background-color: var(--blue);
}

.bouton:hover {
  transform: translate(0, -3px);
}

.bouton1:hover {
  box-shadow: 0 20px 80px -10px var(--primary);
}

.bouton2:hover {
  box-shadow: 0 20px 80px -10px var(--secondary4);
}

.boutonRouge:hover {
  box-shadow: 0 20px 80px -10px var(--red);
}

.boutonHard:hover {
  box-shadow: 0 20px 80px -10px var(--orange);
}

.boutonGood:hover {
  box-shadow: 0 20px 80px -10px var(--green);
}

.boutonEasy:hover {
  box-shadow: 0 20px 80px -10px var(--blue);
}

.boutons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2em;
  margin: 2rem 6rem;
}

.deckBarre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  gap: 20px;
  padding: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondary2);
  border-radius: 15px;
  width: 100%;
  transition-property: opacity, margin-top;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.cardTitle {
  margin-bottom: 0px;
}

.playground {
  height: 450px;
}

.graph {
  width: 100%;
  text-align: center;
  position: relative;
  justify-content: center;
  display: inline-block;
}

.hero2 {
  width: 75%;
  height: 1000px;
  min-width: 700px;
  margin: auto;
  border-radius: 30px;
  padding: 50px;
  background-color: var(--secondary3);
  text-align: center;
  transition-property: opacity, margin-top;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.playground2 {
  height: 450px;
}

.visible {
  opacity: 1;
  margin-top: 0px;
}
.nomargintop {
  margin-top: 0;
}
.nomarginbot {
  margin-bottom: 0;
}

.zone {
  /* width: 75%; */
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 50px;
  background-color: var(--secondary2);
}
.zone2 {
  width: 20%;
  min-width: 200px;
  margin: auto;
  margin-top: 0;
  border-radius: 30px;
  padding: 50px;
  background-color: var(--secondary4);
  text-align: center;
}

.description {
  font-size: 1.3rem;
}

.cardform {
  background-color: var(--secondary3);
  appearance: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3%;
  border: 0px;
  color: #fff;
  font-family: Segoe UI Semibold;
  font-size: 16px;
  width: 96%;
}

.creerbouton {
  border: 0;
  font-family: "Poppins";
}

.OK {
  color: #70ca99;
}

/* peut-être qu'il faudrait séparer en plusieurs feuilles de style css x) */

.decklist {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select {
  width: 50%;
}

.deckList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.element {
  user-select: none;
  opacity: 0;
  position: relative;
  width: 25%;
  min-width: 300px;
  max-width: 460px;
  border-radius: 20px;
  color: white;
  transition-property: background-color;
  transition-duration: 0.2s;
  background-color: var(--secondary3);
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 0px 0px 10px 0px;
  overflow: hidden;
}

.element:hover {
  background-color: var(--secondary4);
}

.texteDeck {
  margin: 0px, 10px, 0px, 100px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.texteDeck > .pdescription {
  padding-bottom: 20px;
}

.texteDeck > h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.texteDeck > p {
  margin: 5px;
}

.imageDeck {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--secondary2);
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.carre {
  width: 430px;
  height: 430px;
  border-radius: 30px;
}

.cover {
  object-fit: cover;
  margin-top: -30%;
  width: 100%;
}

.cover2 {
  object-fit: cover;
  width: 100%;
}

.zoneclic {
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.assombreur {
  background: #050505b9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation-fill-mode: forwards;
}

.asalt {
  background: #05050573;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes ranim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(20%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 17px;
  padding: 17px;
  width: 80%;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  font-family: Segoe UI Semibold;
  position: absolute;
  display: inline-block;
  margin: 20px;
  left: 5%;
  right: 5%;
}

.btn:hover {
  color: #050505;
  background-color: var(--text);
}
.b1 {
  color: #050505;
  top: 20%;
  background-color: var(--clear);
  border: 1px solid var(--clear);
}

.b2 {
  top: 30%;
}

.b3 {
  top: 40%;
}

.voirplus {
  border: 2px solid var(--text);
  top: 50%;
}

.tout {
  background: transparent;
  opacity: 0;
  animation: fadeIn 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.idkforreal {
  position: absolute;
}

.ouinon {
  justify-content: center;
}

#reviewBoutons {
  justify-content: space-between;
  position: absolute;
  gap: 10px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  display: none;
}

#state {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  gap: 10px;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: 600;
}

.new {
  font-size: 1.2rem;
  color: var(--clear-red);
}

.review {
  font-size: 1.2rem;
  color: var(--clear-blue);
}

#montrer {
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

.changeImg {
  opacity: 0.0; 
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%; 
  height:100%;
  cursor: pointer;
}

.cardEntry {
  width: 85%;
  height: 105px;
  margin: auto;
  padding: 30px;
  margin-bottom: 30px;
  background-color: var(--secondary4);
  border-radius: 10px;
  
}

.front {
  margin: 10px 0 10px 0;
}

.tag {
  color: var(--text);
}

.flexCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.batsu {
  cursor: pointer;
}

#backReview {
  display: none;
  opacity: 0;
}









@media screen and (min-width: 1235px) {
  .centrer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1235px) {
  .boutons {
    justify-content: center;
  }
  .flecheConteneur {
    padding-left: 45%;
    padding-right: 55%;
  }
  .idkforreal {
    position: relative;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .texte {
    margin: auto;
    width: 85%;
  }
  .image {
    margin: 50px auto 50px auto;
  }
  .description {
    font-size: 1.2rem;
  }
  .carre {
    width: 350px;
    height: 350px;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  body {
    margin: 0;
    text-align: center;
  }
  .zone {
    width: 75%;
    min-width: 1px;
  }
  .zone2 {
    margin-top: 100px;
  }
}

.smalltext {
  font-size: small;
  font-weight: 500;
  color: #7c7892;
}
