{% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<div class="tout">
    <div class="idkforreal">
        <div class="flecheConteneur">
            <div class="goback" onclick="redirection('/deck/{{ deck_id }}')">
                <svg viewBox="0 -50 110 210" fill="none">
                    <line x1="105" y1="20" x2="35" y2="85" style="stroke: rgb(255, 255, 255); stroke-width: 10px" />
                    <line x1="35" y1="85" x2="105" y2="150" style="stroke: rgb(255, 255, 255); stroke-width: 10px" />
                </svg>
            </div>
        </div>
        <p style="padding-left: 20px;padding-top: 0;padding-bottom: 0;">Retour</p>
    </div>
    <div id="pageform" style="margin: auto;width: 70%;">
        <div class="zone">
            <div class="texte2">
                <h3 class="nomargintop nomarginbot">Créer une carte !</h3>
                <p><i>Les champs marqués avec des * sont obligatoires.</i></p>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        <label for="deckid">Deck</label><br>
                        <select class="cardform select" id="deckid" name="deckid" disabled>
                            <option value="0">{{ name }}</option>
                        </select>

                    </p>
                    <p>
                        {{ form.front.label }}<br>
                        {{ form.front(size=1000, class_="cardform") }}
                        {% if form.front.errors == ['This field is required.'] %}
                        <span style="color: red;">Veuillez remplir ce champ</span>
                        {% endif %}
                    </p>
                    <p>
                        {{ form.front_sub.label }}<br>
                        {{ form.front_sub(size=1000, class_="cardform") }}
                    </p>
                    <p>
                        {{ form.back.label }}<br>
                        {{ form.back(size=1000, class_="cardform") }}
                        {% if form.back.errors == ['This field is required.'] %}
                        <span style="color: red;">Veuillez remplir ce champ</span>
                        {% endif %}
                    </p>
                    <p>
                        {{ form.back_sub.label }}<br>
                        {{ form.back_sub(size=1000, class_="cardform") }}
                    </p>
                    <p>
                        {{ form.back_sub2.label }}<br>
                        {{ form.back_sub2(size=1000, class_="cardform") }}
                    </p>
                    <p>
                        {{ form.tag.label }}<br>
                        {{ form.tag(size=50, class_="cardform") }}
                    </p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li class="OK">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    <p>{{ form.submit(class_="bouton bouton1 creerbouton") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let element = document.getElementsByClassName("tout")[0];

    function redirection(lien) {
        element.style.animation = 'fadeOut 0.2s'
        setTimeout(() => {
            window.location.replace(lien);
        }, 200)
    }
</script>
<script src="../static/js/form.js"></script>
{% endblock %}