<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="../static/img/favicon.ico" />
    {% if title %}
    <title>{{ title }} - OpenSRS</title>
    {% else %}
    <title>OpenSRS</title>
    {% endif %}
    {% block head%}{% endblock %}
</head>

<body>
    {% if title %}
    <h3>OpenSRS</h3>
    {% else %}
    <h1>OpenSRS</h1>
    {% endif %}
    {% block body%}{% endblock %}
</body>

</html>