    {% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<div style="padding-top: 60px;"></div>
<div id="pageform" class="hero" style="margin: 0;">
    <div class="zone">
        <div class="texte2">
            <h3 class="nomargintop nomarginbot">Créer une carte !</h3>
            <p><i>Les champs marqués avec des * sont obligatoires.</i></p>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.deck.label }}<br>
                    {{ form.deck(size=50, class_="cardform") }}
                    {% if form.deck.errors == ['This field is required.'] %}
                    <span style="color: red;">Veuillez remplir ce champ</span>
                    {% endif %}
                </p>
                <p>
                    {{ form.front.label }}<br>
                    {{ form.front(size=1000, class_="cardform") }}
                    {% if form.deck.errors == ['This field is required.'] %}
                    <span style="color: red;">Veuillez remplir ce champ</span>
                    {% endif %}
                </p>
                <p>
                    {{ form.front_sub.label }}<br>
                    {{ form.front_sub(size=1000, class_="cardform") }}
                </p>
                <p>
                    {{ form.back.label }}<br>
                    {{ form.back(size=1000, class_="cardform") }}
                    {% if form.deck.errors == ['This field is required.'] %}
                    <span style="color: red;">Veuillez remplir ce champ</span>
                    {% endif %}
                </p>
                <p>
                    {{ form.back_sub.label }}<br>
                    {{ form.back_sub(size=1000, class_="cardform") }}
                </p>
                <p>
                    {{ form.back_sub2.label }}<br>
                    {{ form.back_sub2(size=1000, class_="cardform") }}
                </p>
                <p>
                    {{ form.tag.label }}<br>
                    {{ form.tag(size=50, class_="cardform") }}
                </p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="OK">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <p>{{ form.submit(class_="bouton bouton1 creerbouton") }}</p>
            </form>
        </div>
    </div>
    <!-- toute la div zone2 est TEMPORAIRE, c'est juste un placeholder -->
    <div class="zone2">
        <h4 class="nomargintop" style="margin: auto;">Contenu du deck</h4>
        <svg style="width:100%;max-width:100%" viewBox="0 0 60 2.5" fill="none">
            <line x1="5" x2="55" y1="2" y2="2" style="stroke: var(--secondary); stroke-width: 0.8px"
                stroke-linecap="round"></line>
        </svg>
        <div style="padding-top: 200px;"></div>
    </div>
</div>
<script src="../static/js/form.js"></script>
{% endblock %}