{% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<div class="tout">
    <div class="flecheConteneur">
        <div class="goback" onclick="redirection('/')">  
            <svg viewBox="0 0 110 160" fill="none">
                <line x1="105" y1="20" x2="35" y2="85" style="stroke: rgb(255, 255, 255); stroke-width: 10px" />
                <line x1="35" y1="85" x2="105" y2="150" style="stroke: rgb(255, 255, 255); stroke-width: 10px" />
            </svg>
        </div>
    </div>
    <p style="padding-left: 20px;padding-top: 0;padding-bottom: 0;">Retour</p>
    <div class="centrer">
        <div id="pageform" class="hero" style="margin: 0;">
            <div class="zone">
                <h3>Créer votre compte !</h3>
                <form method="post"> 
                    <label for="pseudo">Identifiant</label> 
                    <input class="cardform" type="text" name="pseudo" id="pseudo" required/>  
                    <br> 
                    <br> 
                    <label for="password">Mot de passe</label> 
                    <input class="cardform" type="text" name="password" id="password" required/>  
                    <br> 
                    <br>
                    <label for="email">Adresse mail</label> 
                    <input class="cardform" type="text" name="email" id="email" required/>
                    <br>
                    <br>
                    <input class="bouton on bouton1" type="submit" name="submit" id="submit" value="Créer"/>  
                </form> 
            </div>
        </div>
    </div>
</div>

<script>
    let element = document.getElementsByClassName("tout")[0];

    function redirection(lien) {
        element.style.animation = 'fadeOut 0.2s'
        setTimeout(() => {
            window.location.replace(lien);
        }, 200)
    }
</script>


{% endblock %}